<% if notice %>
  <p class="alert alert-primary"><%= notice %></p>
<% end %>

<div class="row">
  <div class="col-md">
    <h2>English: <%= @article.question %></h2>

    <p><%= @article.answer %></p>
  </div>
  <div class="col-md">
    <h2>German translation: <%= @article.question_de %></h2>

    <p><%= @article.answer_de %></p>

  </div>
</div>

<br>

<div class="btn-group">
  <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-primary' %>
  <%= link_to 'Delete', @article, method: :delete, class: 'btn btn-secondary' %>
</div>

