<!DOCTYPE html>
<html>
  <head>
    <title>Knowledge Base</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-dark bg-dark navbar-expand-lg">
      <%= link_to 'Knowledge Base', articles_path, class: 'navbar-brand' %>
      <nav class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link_to 'Articles', articles_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'New Article', new_article_path, class: 'nav-link' %></li>
        </ul>
        <%= form_tag(articles_path, {class: 'form-inline', method: 'get'}) do %>
          <%= text_field_tag :question, params[:question], {class: 'form-control mr-sm-2', placeholder: 'Type Question...'} %>
          <%= submit_tag 'Search', class: 'btn btn-outline-success' %>
        <% end %>
      </nav>
    </header>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
